<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://loremflickr.com/1000/1400/<%= @list.name.split.first %>);">
  <div class="container">
    <h1 class="mb-4"><%= @list.name %></h1>
    <%= link_to 'Add movie to list', new_list_bookmark_path(@list), class: 'btn btn-primary' %>
  </div>
</div>
<div class="container my-4">
  <div class="cards">
    <% @list.movies.each do |movie| %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= movie.poster_url %>" alt="Movie poster">
        <div class="card-body">
          <h3 class="card-text"><strong><%= movie.title %></strong></h3>
          <p class="card-text"><strong><%= movie.rating %></strong></p>
          <p class="card-text"><%= movie.overview %></p>
          <%= link_to 'Delete', list_bookmark_path(Bookmark.where(list_id: @list.id, movie_id: movie.id)), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }  %>
        </div>
      </div>
    <% end %>
  </div>
</div>

