<div class="container d-flex align-items-center gap-3">
  <h1><%= @list.name %></h1>
  <%= link_to new_list_bookmark_path(@list), class: 'add-movie-link' do %>
    <h2><i class="fa-solid fa-circle-plus"></i></h2>
  <% end %>
</div>
<div class="container my-4">
  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-trip">
        <img class="card-img-top" src="<%= bookmark.movie.poster_url %>" alt="Movie poster">
        <div class="card-trip-infos">
          <div>
            <h2><strong><%= bookmark.movie.title %></strong></h2>
            <p><%= bookmark.movie.overview %></p>
          </div>
        </div>
        <h2 class="card-trip-rating"><strong>Rating: </strong><%= bookmark.movie.rating %></h2>
        <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Delete #{bookmark.movie.title}?" }, class: 'card-delete-link' do %>
          <i class="fa-solid fa-x"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
